.stripe-button-el{
	display: block !important;
	margin: 10px auto;
}

.prediction-center input{
	display: block;
	margin: 0 auto;
	padding: 15px;
	font-size: 1.5rem;
	max-width: 100px;
}

.prediction-btn{
	display: block;
	margin: 20px auto;
}

